{% extends "layout.html" %}

{% block page_title %}
  Are you looking for housing advice?
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/housing/property-status">Back</a>

      <h1 class="heading-large">Are you looking for housing advice?</h1>

      <form class="form" action="/housing/advice" method="post">

        <div class="form-group">
          <fieldset>
      
            <legend class="visually-hidden">Are you looking for housing advice?</legend>
      
            <div class="multiple-choice">
              <input id="housing-advice-repairs" name="housing-advice" type="checkbox" value="Repairs">
              <label for="housing-advice-repairs">Repairs</label>
            </div>
            <div class="multiple-choice">
              <input id="housing-advice-payments" name="housing-advice" type="checkbox" value="Payments">
              <label for="housing-advice-payments">Payments</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
