{% extends "layout.html" %}

{% block page_title %}
  Homeless advice
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/housing/homeless">Back</a>

      <h1 class="heading-large">
        Go to???
      </h1>

      <p>Please contact the Kingston Council Homeless team.</p>

      <p>This paragraph has a link to <a href="https://www.kingston.gov.uk/info/200183/housing_homeowners_and_renting/371/homeless_people_and_housing_advice/3">find out more about this subject</a>.</p>

    </div>
  </div>
</main>

{% endblock %}
