{% extends "layout.html" %}

{% block page_title %}
  How long have you been unemployed for?
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/areas">Back</a>

      <h1 class="heading-large">How long have you been unemployed for?</h1>

      <form class="form" action="/employment/new-skills" method="post">

        <div class="form-group">
          <fieldset>
      
            <legend class="visually-hidden">How long have you been unemployed for?</legend>
      
            <div class="multiple-choice">
              <input id="employment-duration-one" name="employment-duration" type="radio" value="Less than 1 month" {{ checked('employment-duration', 'Less than 1 month') }}>
              <label for="employment-duration-one">Less than 1 month</label>
            </div>
            <div class="multiple-choice">
              <input id="employment-duration-six" name="employment-duration" type="radio" value="1 to 6 months" {{ checked('employment-duration', '1 to 6 months') }}>
              <label for="employment-duration-six">1 to 6 months</label>
            </div>
            <div class="multiple-choice">
              <input id="employment-duration-six-plus" name="employment-duration" type="radio" value="More than 6 months" {{ checked('employment-duration', 'More than 6 months') }}>
              <label for="employment-duration-six-plus">More than 6 months</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
