{% extends "layout.html" %}

{% block page_title %}
  Are you looking for a new career or to develop new skills?
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/areas">Back</a>

      <h1 class="heading-large">Are you looking for a new career or to develop new skills?</h1>

      <form class="form" action="/employment/end" method="post">

        <div class="form-group">
          <fieldset>
      
            <legend class="visually-hidden">Are you looking for a new career or to develop new skills?</legend>
      
            <div class="multiple-choice">
              <input id="employment-skills-yes" name="employment-skills" type="radio" value="Yes" {{ checked('employment-skills', 'Yes') }}>
              <label for="employment-skills-yes">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="employment-skills-no" name="employment-skill" type="radio" value="No" {{ checked('employment-skills', 'No') }}>
              <label for="employment-skill-no">No</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
