{% extends "layout.html" %}

{% block page_title %}
  Advice
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/check-your-answers">Back</a>

      <h1 class="heading-large">
        Heading goes here
      </h1>

      {% if 'area-employment' in data['areas'] %}
        <h2 class="heading-medium">Employment</h2>
        
        {% if data['employment-in-work'] == 'No' %}
        
        <p>Go to the job centre because you're unemployed.</p>
        
          {% if ((data['age'] >= '13') and (data['age'] <= '30')) and (data['employment-skills'] === 'Yes') %}
            <h3>Princes Trust</h3>
            <p><a href="https://www.princes-trust.org.uk/help-for-young-people/get-job/get-experience">Details</a></a></p>
          {% endif %}
        {% endif %}
        
      {% endif %}
      
      {% if 'area-money' in data['areas'] %}
        <h2 class="heading-medium">Money</h2>
      {% endif %}
      
      {% if 'area-health' in data['areas'] %}
        <h2 class="heading-medium">Health</h2>
      {% endif %}
      
      {% if 'area-networks' in data['areas'] %}
        <h2 class="heading-medium">Network</h2>
      {% endif %}
      
      {% if 'area-housing' in data['areas'] %}
        <h2 class="heading-medium">Housing</h2>
      {% endif %}
      
      {% if 'area-well-being' in data['areas'] %}
        <h2 class="heading-medium">Well-being</h2>
      {% endif %}

      {% if not data['areas']|length %}
      <p>You didn't pick any areas to get advice on!</p>
      {% endif %}
    </div>
  </div>
</main>

{% endblock %}
