{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Check your answers before getting advice
  </h1>

  {% if 'area-employment' in data['areas'] %}
  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Employment
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>
          Are you currently in work?
        </td>
        <td>
          {{ data['employment-in-work'] }}
        </td>
        <td class="change-answer">
          <a href="/employment/in-work">
            Change <span class="visuallyhidden">whether you are currently in work</span>
          </a>
        </td>
      </tr>
      
      {% if data['employment-in-work'] == 'No' %}
      
      <tr>
        <td>
          How long have you been unemployed for?
        </td>
        <td>
          {{ data['employment-duration'] }}
        </td>
        <td class="change-answer">
          <a href="/employment/duration">
            Change <span class="visuallyhidden">how long you have been unemployed for</span>
          </a>
        </td>
      </tr>
      
      {% endif %}

      <tr>
        <td>
          Are you looking for a new career or to develop new skills?
        </td>
        <td>
          {{ data['employment-skills'] }}
        </td>
        <td class="change-answer">
          <a href="/employment/new-skills">
            Change <span class="visuallyhidden">whether you are looking for a new career or to develop new skills</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  {% endif %}
  
  {% if 'area-housing' in data['areas'] %}
  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Housing
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>
          Are you currently homeless?
        </td>
        <td>
          {{ data['housing-homeless'] }}
        </td>
        <td class="change-answer">
          <a href="/housing/homeless">
            Change <span class="visuallyhidden">whether you are currently homeless</span>
          </a>
        </td>
      </tr>
      
      <tr>
        <td>
          What is your property status?
        </td>
        <td>
          {{ data['housing-property'] }}
        </td>
        <td class="change-answer">
          <a href="/housing/property-status">
            Change <span class="visuallyhidden">your property status</span>
          </a>
        </td>
      </tr>
      
      <tr>
        <td>
          Do you need help to pay your rent or mortgage?
        </td>
        <td>
          {{ data['housing-arrears'] }}
        </td>
        <td class="change-answer">
          <a href="/housing/arrears">
            Change <span class="visuallyhidden">your property status</span>
          </a>
        </td>
      </tr>
      
      <tr>
        <td>
          Are you looking to move property?
        </td>
        <td>
          {{ data['housing-move'] }}
        </td>
        <td class="change-answer">
          <a href="/housing/move">
            Change <span class="visuallyhidden">your property status</span>
          </a>
        </td>
      </tr>
      
    </tbody>
  </table>
  {% endif %}

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            About you
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>
          How old are you?
        </td>
        <td>
          {{ data['age'] }}
        </td>
        <td class="change-answer">
          <a href="age">
            Change <span class="visuallyhidden">whether you are currently in work</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Do you have a disability?
        </td>
        <td>
          {{ data['disability'] }}
        </td>
        <td class="change-answer">
          <a href="disability">
            Change <span class="visuallyhidden">whether you have a disability</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          What is your nationality?
        </td>
        <td>
          {{ data['nationalities'] }}
        </td>
        <td class="change-answer">
          <a href="nationality">
            Change <span class="visuallyhidden">your nationality</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Do you have any dependent children?
        </td>
        <td>
          {{ data['dependents'] }}
        </td>
        <td class="change-answer">
          <a href="dependents">
            Change <span class="visuallyhidden">whether you have any dependent children</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="heading-medium">Now send your application</h2>

  <p class="text">
    By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
  </p>

  <div class="form-group">
    <a href="advice" class="button">Accept and send application</a>
  </div>

</main>

{% endblock %}
