{% extends "layout.html" %}

{% block page_title %}
  Journey to Sorted - Royal Borough of Kingston-upon-Thames
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

	{% include "includes/phase_banner_alpha.html" %}
  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.kingston.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Use this service to:</p>

      <ul class="list list-bullet">
        <li>get advice on where you can get help in the borough of Kingston upon Thames</li>
      </uL>

      <p>It will take around 5 minutes to complete.</p>

      <p>
        <a class="button button-start" href="areas" role="button">Start now</a>
      </p>

    </div>
  </div>

</main>

{% endblock %}
