{% extends "layout.html" %}

{% block page_title %}
  Save your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="advice">Back</a>

      <h1 class="heading-large">
        Save your answers
      </h1>

      <p>You will receive an email within the next few minutes including a link to return to your advice.</p>

      <div class="form-group">
        <a href="advice" class="button">Back to your advice</a>
      </div>
    </div>
  </div>
</main>

{% endblock %}
